h2 {
    margin: 0;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom right, rgb(173, 173, 172), rgba(112, 151, 161, 0.425));
    color: white;
    padding: 10px;
    min-height: 100vh;
}

.appContainer {
    margin-top: 30px;
    max-width: 1200px;
    min-width: 60vw;
}

