<div *ngIf="song$ | async as song">
    <div class="navBar">
        <button (click)="gotoSongs(song)">Back</button>
        <button (click)="gotoSongs(song)">Previous</button>
        <button (click)="gotoSongs(song)">Next</button>
        <button (click)="gotoSongs(song)">Print</button>
    </div>
    <div class="container">
        <div class="nameContainer" id="titleHeader">
            <div id="idSong">
                {{song.id}}
            </div>
            <div id="title">
                {{song.titlePl}}
            </div>
        </div>

        <div class="lyricsComponent">
            <app-lyrics [songId]="song.id"></app-lyrics>

        </div>

        <div (click)="isVisibleDetails = !isVisibleDetails" class="nameContainer" id="detailsHeader">
            <fa-icon [@rotatedState]="!isVisibleDetails? 'default': 'rotated'" id="angleDown" [icon]="faAngleDown" size="lg" ></fa-icon>
        </div>
        <div [@smoothCollapse]="!isVisibleDetails? 'initial': 'final'" class="details">
            <ul id="basicDetails">
                <li><b>Gropu: </b> {{song.group}} </li>
                <li><b>Type: </b> {{song.type}} </li>
                <li><b>Polish version: </b> <a href="">{{song.linkPl}}</a></li>
                <li><b>Original title: </b> {{song.titleOrigin}} </li>
                <li><b>Author: </b> {{song.author}}</li>
                <li><b>Original version: </b> <a href="">{{song.linkOrigin}}</a> </li>
                <li><b>Based on: </b> {{song.basedOn}}</li>
                <li><b>Translator: </b> {{song.translator}}</li>
                <li><b>Copyright: </b> {{song.copyright}}</li>
                <li><b>Add time: </b> {{song.addTime | date:'shortDate'}}</li>
            </ul>
            <ul *ngIf="isLogIn">
                <li><b>Link to Drive: </b> <a href="">{{song.linkToDrive}}</a> </li>
                <li><b>Link to notes: </b> <a href="">{{song.linkToNotes}}</a> </li>
                <li><b>Edit time: </b> {{song.editTime | date:'shortDate'}}</li>
                <li><b>Editor name: </b> {{song.editorName}}</li>
                <li><b>Edit content: </b> {{song.editContent}}</li>
                <li><b>Times of use: </b> {{song.timesOfUse}}</li>
            </ul>
        </div>
    </div>
</div>