.messageContainer {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgba(97, 165, 192, 0.2);
    color: rgb(235, 205, 76);
    font-size: 22px;
    font-weight: 500;
    border-radius: 3px;
    padding-left: 3px;
    text-shadow: 1px 1px black ;
}

.message {
    margin-right: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.message p {
    margin: 5px 20px 5px 10px;
    font-weight: 500;
}
.message span {
    font-size: smaller;
}

button {
    background: none;
    margin-right: 10px;
    padding: 0;
    border: none;
    transition: 0.5s;
}
button:hover {
    background: none;
    transform: scale(1.5);
    cursor: pointer;
}
