/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}
/* for all components */
.container {
  box-sizing: border-box;
  margin: 10px;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nameContainer {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 2px  rgba(0, 0, 0, 0.4);
}
.nameContainer h2 {
  margin: 0;
  text-shadow: 1px 1px black;
}
.navBar {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navBar button {
  font-size: 20px;
  cursor: pointer;
  width: 90px;
}